/* wwwroot/css/site.css */

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.modal-title {
    color: #495057;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover > tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

/* Custom styles */
.modal-dialog {
    max-width: 800px;
}

body {
    background-color: #f5f5dc; /* Thay đổi mã màu nền tại đây */
    color: #333; /* Màu chữ */
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h2{
    margin-bottom: 50px;
    margin-top: 50px;
}