@{
    ViewData["Title"] = "Home";
}

<!-- Add Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

<!-- Link to the custom CSS file -->
<link href="~/css/styles.css" rel="stylesheet">

<div class="container mt-5">
    <div class="text-center">
        <h1 class="mt-4">Welcome to G11 Coffee</h1>
        <img src="~/images/background_main.jfif" class="img-fluid" alt="Cafe Image" />
    </div>
</div>
