<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - G11_Coffee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <a class="navbar-brand" href="/">G11 Coffee</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/Cafe">Cafes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Employee">Employees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Product">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Order">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Revenue">Revenues</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - G11 Coffee
            </div>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
